
.Afikiqek-maqad {
    margin-top: 4%;
    width: 80%;
    display: flex;
    height: 600px;
    -webkit-box-shadow: -1px 14px 5px 0px rgba(75, 9, 9, 0.75);
    -moz-box-shadow: -1px 14px 5px 0px rgba(112, 20, 20, 0.75);
   box-shadow: -1px 14px 5px 0px rgba(58, 38, 38, 0.75);
   text-align: center;
}

  
  @media all and (max-width: 640px) {
    .Afikiqek-maqad {
        margin-top: 4%;
        width: 50%;
        display: flex;
        height: 300px;
        -webkit-box-shadow: -1px 14px 5px 0px rgba(75, 9, 9, 0.75);
        -moz-box-shadow: -1px 14px 5px 0px rgba(112, 20, 20, 0.75);
       box-shadow: -1px 14px 5px 0px rgba(58, 38, 38, 0.75);
       text-align: center;
    }
    
    
  }
  
  @media all and (max-width: 535px) {
   
    .Afikiqek-maqad {
        margin-top: 4%;
        width: 50%;
        display: flex;
        height: 300px;
        -webkit-box-shadow: -1px 14px 5px 0px rgba(75, 9, 9, 0.75);
        -moz-box-shadow: -1px 14px 5px 0px rgba(112, 20, 20, 0.75);
       box-shadow: -1px 14px 5px 0px rgba(58, 38, 38, 0.75);
       text-align: center;
  }
}