.MakaleYazariAdi{
    line-height:34px;
}

#BegeniButonlari{
    float:right;
    margin-top: 15px; 
}

.fiqa-pragraph {
    font-family: 'Playfair Display', serif; 
}

.responsive {
    width: 100%;
    height: auto;
  }