/*Fiqma page sttyle*/
article img{
    margin:0 1.5em 1.5em 0;
  }
  body{ 
    margin:auto; 
    background:#ddd; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
  
  }
  article {
    border-radius:1em !important; 
    align-items: center;
    
  }
  header span.glyphicon{
  color:#DDD;
  filter:blur(2px);-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  
  } /*Note that the blur() Effect is not supported as css3 in FFGecko and IEX*/