body {
  padding-top: 50px;
  position: relative;
  background-color: #dad7cd;
}

pre {
  tab-size: 8;
}

@media screen and (max-width: 768px) {
  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:50px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
}

@media only screen and (max-width: 600px) {
  .collapse-container {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    
  }

}




/*home page cards*/

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background: #dee2e6;
  margin: 0;
  padding: 0;
}

.headline {
  margin-left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 26px;
  margin-top: 16%;
}

.swiper-container {
  height: calc(100vh - 120px);
  margin: 60px;
}

.swiper-slide {
  overflow: hidden;
}

.slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}
img{
  display:block;
  width:100%;
  height:auto;
}
.copy {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.06em;
}
a {
  color: white;
}